<html ng-app="VATestApp">

<head>
    <title> Visual Acuity Test Application </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./css/rzslider.css" />
    <script src="./js/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="./js/angular.js"></script>
    <script src="./js/rzslider.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/pageNav.controller.js"></script>
    <script src="./js/appHeader.controller.js"></script>
    <script src="./js/appFooter.controller.js"></script>
    <script src="./js/appConfig.service.js"></script>
    <script src="./js/constant.service.js"></script>
    <script src="./js/appname.service.js"></script>
    <script src="./js/draw.service.js"></script>
    <script src="./js/testSetting.controller.js"></script>
    <script src="./js/testRecord.service.js"></script>

</head>

<body ng-controller="PageNavCtrl as nav">

    <div class="page-header" ng-controller="HeaderCtrl as head">
        <h1> {{ head.appTitle }} <small>professional, precise, effecient</small></h1>
    </div>

    <!-- end of header div -->
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="page in nav.stepPages" class="ng-class:nav.setPageStatus(page.id===nav.currentPageId)" role="presentation">
            <a ng-click="nav.setCurrentPage(page.id)" aria-controls="" role="tab" data-toggle="tab" style="cursor:pointer">
                {{ page.title }}
            </a>
        </li>
        <li class="undefined" role="presentation">
            <a ng-click="nav.setCurrentPage()">Help</a>
        </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content" ng-controller="TestSettingCtrl as ctrl">

        <div ng-show="nav.currentPageId === 'home'" role="tabpanel" class="tab-pane active" id="home">
            <div class="panel-body">
                <br><br><br><br><br><br> 简介
                <br><br><br><br><br><br>
            </div>
        </div>
        <!--end of  简介 -->

        <div ng-show="nav.currentPageId === 'correction'" role="tabpanel" class="tab-pane active" id="correction">
            <div class="panel-body">
                <ul>
                    <li>取出一张尺寸为856mm×540mm的卡片</li>
                    <li>滑动下方的滑块来缩放矩形区域，同时调整卡片位置使得它尽量与卡片重合</li>
                    <li>完全重合即表示校准已完成，此后的操作中请不要调整屏幕分辨率以及缩放浏览器</li>
                </ul>
                <div>
                    <rzslider rz-slider-model="ctrl.correctSlider.value" rz-slider-options="ctrl.correctSlider.options"></rzslider>
                </div>
                <div>
                    <img ng-src="./images/card.png" width='{{ ctrl.corImg.oriWidth * ctrl.correctSlider.value / 100 }}' height='{{ ctrl.corImg.oriHeight * ctrl.correctSlider.value / 100 }}'></img>
                </div>
            </div>
        </div>
        <!--end of  屏幕校准 -->

        <div ng-show="nav.currentPageId === 'vaTest'" role="tabpanel" class="tab-pane active" id="vaTest">

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="container-fluid">
                        <div class="row panel-body">
                            <div class="col-md-7">
                                <canvas id="eCharCanvas" width="550" height="550" style="border:1px dashed #CCCCCC;">
                                    "E" can not be drawn.<br>Your browser does not support the canvas element.
                                </canvas>

                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4">
                                <div class="row  panel-body">
                                    <span class="text-info">Eye:</span>

                                    <span ng-if="!ctrl.editModeEye" class="label label-default">{{ ctrl.testRecord.eye }}</span>
                                    <button ng-if="!ctrl.editModeEye && !ctrl.isTesting" ng-click="ctrl.changeEditModeEye()" class="btn btn-default btn-xs">Edit</button>

                                    <select ng-if="ctrl.editModeEye" ng-init="ctrl.testRecord.eye" ng-model="ctrl.testRecord.eye" ng-options="eye for eye in ctrl.constants.eyes">
                                    </select>
                                    <button ng-if="ctrl.editModeEye" ng-click="ctrl.changeEditModeEye()" class="btn btn-default btn-xs">OK</button>
                                </div>
                                <div class="row panel-body">
                                    <span class="text-info">Condition:</span>

                                    <span ng-if="!ctrl.editModeTestType" class="label label-default">{{ ctrl.testRecord.testType }}</span>
                                    <button ng-if="!ctrl.editModeTestType && !ctrl.isTesting" ng-click="ctrl.changeEditModeTestType()" class="btn btn-default btn-xs">Edit</button>

                                    <select ng-if="ctrl.editModeTestType" ng-init="ctrl.testRecord.testType" ng-model="ctrl.testRecord.testType" ng-options="testType for testType in ctrl.constants.testType">
                                    </select>
                                    <button ng-if="ctrl.editModeTestType" ng-click="ctrl.changeEditModeTestType()" class="btn btn-default btn-xs">OK</button>

                                </div>
                                <div class="row panel-body">
                                    <span class="text-info">VAGrade:</span>

                                    <span ng-if="!ctrl.editModeCurVAGrade" class="label label-default">{{ ctrl.testRecord.curVAGrade.value }}</span>
                                    <button ng-if="!ctrl.editModeCurVAGrade && !ctrl.isTesting" ng-click="ctrl.changeEditModeCurVAGrade()" class="btn btn-default btn-xs">Edit</button>

                                    <select ng-if="ctrl.editModeCurVAGrade" ng-init="ctrl.testRecord.curVAGrade" ng-model="ctrl.testRecord.curVAGrade" ng-options="vaGrade.text for vaGrade in ctrl.constants.vaGrades">
                                    </select>
                                    <button ng-if="ctrl.editModeCurVAGrade" ng-click="ctrl.changeEditModeCurVAGrade()" class="btn btn-default btn-xs">OK</button>

                                </div>
                                <div class="row panel-body">
                                    <span>Distance：</span>
                                    <span class="label label-default">{{ ctrl.disSlider.value/100 }} M</span>
                                    <button ng-if="!ctrl.editModeDistance && !ctrl.isTesting" ng-click="ctrl.changeEditModeDistance()" type="button" class="btn btn-default btn-xs"
                                        data-toggle="modal" data-target="#distanceModal">
                                    Edit</button>
                                    <button ng-if="ctrl.editModeDistance" ng-click="ctrl.changeEditModeDistance()" type="button" class="btn btn-default btn-xs"
                                        data-toggle="modal" data-target="#distanceModal">
                                    OK</button>

                                </div>

                                <rzslider ng-if="ctrl.editModeDistance" rz-slider-model="ctrl.disSlider.value" rz-slider-options="ctrl.disSlider.options"></rzslider>

                                <div class="row panel-body">
                                    <button ng-if="ctrl.isTesting" ng-click="ctrl.abortTest()" class="btn btn-default">Reset</button>
                                    <button ng-if="!ctrl.isTesting" ng-click="ctrl.startTest()" class="btn btn-default">Start</button>
                                </div>



                                <div class="row panel-body">
                                    <table>


                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" ng-click="ctrl.userClicked('UP')">U</a>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-default" ng-click="ctrl.userClicked('LEFT')">L</a>
                                            </td>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-default" ng-click="ctrl.userClicked('RIGHT')">R</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-default" ng-click="ctrl.userClicked('DOWN')">D</a>
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td style="height:20px"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="height:40px; text-align:center; vertical-align:center">
                                                <a class="btn btn-default" ng-click="ctrl.userClicked('CORRECT')">Correct / Clear</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="height:40px; text-align:center; vertical-align:center">
                                                <a class="btn btn-default" ng-click="ctrl.userClicked('WRONG')">Wrong / Not Clear</a>
                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
            <!--end of 视力检查 -->

            <div ng-show="nav.currentPageId === 'aboutAuthor'" role="tabpanel" class="tab-pane active" id="aboutAuthor">
                <div class="panel-body">
                    <br><br><br><br><br><br> 作者介绍
                    <br><br><br><br><br><br>
                </div>
            </div>
            <!--end of  简介 -->

            <div ng-show="nav.currentPageId === 'qa'" role="tabpanel" class="tab-pane active" id="qa">
                <div class="panel-body">
                    <br><br><br><br><br><br> Q&A
                    <br><br><br><br><br><br>
                </div>
            </div>
            <!--end of  简介 -->

        </div>
        <!-- end of container div -->
        <!--
        <div ng-controller="FooterCtrl as foot">
            <h4>{{ foot.declaration }}</h4>
        </div>
        -->

</body>

</html>