<html ng-app="VATestApp" ng-controller="MultiLangCtrl as ml">

<head>
  
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">   
    <meta name="description" content="Online Visual Acuity Test Application">
    <meta name="keywords" content="Visual Acuity, 视力，视力检查，在线视力检查，visual acuity test">
    <meta name="author" content="Qiang YE">  
    <title> {{ ml.$(ml.appConfig.appName) }}</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="./css/rzslider.css" />
    <link rel="stylesheet" type="text/css" href="./css/mycss.css" />
    <script src="./js/jquery-3.1.1.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <script src="./js/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/rzslider.js"></script>
    <script src="./js/pageNav.controller.js"></script>
    <script src="./js/appHeader.controller.js"></script>
    <script src="./js/appFooter.controller.js"></script>
    <script src="./js/appConfig.service.js"></script>
    <script src="./js/constant.service.js"></script>
    <script src="./js/draw.service.js"></script>
    <script src="./js/vaTest.controller.js"></script>
    <script src="./js/testRecord.service.js"></script>  
    <script src="./js/multiLang.service.js"></script>
    <script src="./js/multiLang.controller.js"></script>

    
</head>

<body ng-controller="PageNavCtrl as nav">

    <div class="align-right">
        <h6>
            <span><a class="pointer-cursor" ng-show="ml.data.lang != 'cn'" ng-click="ml.switchLanguage('cn')">简体中文</a></span>
            <span><a class="pointer-cursor" ng-show="ml.data.lang != 'en'" ng-click="ml.switchLanguage('en')">English</a></span>
        </h6>
    </div>

    <div class="my-page-header" ng-controller="HeaderCtrl as head">
        <h1> {{ ml.$(ml.data.appTitle) }} <small>{{ ml.$(ml.data.appSmallTitle) }}</small></h1>
    </div>


    <!-- Nav bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pointer-cursor" ng-click="nav.setCurrentPage('home')">
                    {{ ml.$(nav.homePage.title) }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="page in nav.stepPages" class="pointer-cursor ng-class:nav.setPageStatus(page.id===nav.currentPageId)" role="presentation">
                        <a ng-click="nav.setCurrentPage(page.id)" aria-controls="" role="tab" data-toggle="tab">
                        {{ ml.$(page.title) }} </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="pointer-cursor ng-class:nav.setPageStatus('aboutAuthor'===nav.currentPageId)" role="presentation">
                        <a ng-click="nav.setCurrentPage('aboutAuthor')" aria-controls="" role="tab" data-toggle="tab">
                       {{ ml.$(nav.aboutAuthorPage.title) }} </a>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- end of header div 
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="page in nav.stepPages" class="ng-class:nav.setPageStatus(page.id===nav.currentPageId)" role="presentation">
            <a ng-click="nav.setCurrentPage(page.id)" aria-controls="" role="tab" data-toggle="tab" style="cursor:pointer">
                {{ page.title }}
            </a>
        </li>
    </ul>
    -->

    <!-- Tab panes -->
    <div class="tab-content" ng-controller="TestSettingCtrl as ctrl">

        

        <div ng-show="nav.currentPageId === 'calibration'" role="tabpanel" class="tab-pane active" id="calibration">
            <div class="panel-body">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>{{ ml.$(ml.data.ctCalibrationPage.inform) }}</span>
                </div>

                <div>
                    <rzslider rz-slider-model="ctrl.correctSlider.value" rz-slider-options="ctrl.correctSlider.options"></rzslider>
                </div>
                <div>
                    <img ng-src="./images/card.png" width='{{ ctrl.corImg.oriWidth * ctrl.correctSlider.value / 100 }}' height='{{ ctrl.corImg.oriHeight * ctrl.correctSlider.value / 100 }}'></img>
                <br/>
                </div>
            </div>
        </div>
        <!--end of  屏幕校准 -->

        <div ng-show="nav.currentPageId === 'vaTest'" role="tabpanel" class="tab-pane active" id="vaTest">
            <div class="panel-body">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>{{ ml.$(ml.data.ctTP.inform) }}</span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row panel-body" style="position: relative;float: left;margin-right:15px;">
                    <canvas id="eCharCanvas" width="500" height="500" style="border:1px dashed #CCCCCC;">
                        "E" can not be drawn.<br>Your browser does not support the canvas element.
                    </canvas>
                </div>
                <div class="row panel-body" style="position: relative;float: left;">
                    <div class="panel-body">
                        <span class="text-info">{{ ml.$(ml.data.ctTP.eye)}}:</span>
                        <span ng-if="!ctrl.editModeEye" class="label label-primary">{{ ml.$(ctrl.testRecord.eye) }}</span>
                        <button ng-if="!ctrl.editModeEye && !ctrl.isTesting" ng-click="ctrl.changeEditModeEye()" class="btn btn-default btn-xs">{{ ml.$(ml.data.ctTP.btnEdit) }}</button>

                        <select ng-if="ctrl.editModeEye" ng-init="ctrl.testRecord.eye" ng-model="ctrl.testRecord.eye" ng-options="ml.$(eye) for eye in ctrl.constants.eyes">
                                    </select>
                        <button ng-if="ctrl.editModeEye" ng-click="ctrl.changeEditModeEye()" class="btn btn-default btn-xs">{{ ml.$(ml.data.ctTP.btnOk) }}</button>
                    </div>
                    <div class="panel-body">
                        <span class="text-info">{{ ml.$(ml.data.ctTP.condition) }}:</span>

                        <span ng-if="!ctrl.editModeTestType" class="label label-primary">{{ ml.$(ctrl.testRecord.testType) }}</span>
                        <button ng-if="!ctrl.editModeTestType && !ctrl.isTesting" ng-click="ctrl.changeEditModeTestType()" class="btn btn-default btn-xs">{{ ml.$(ml.data.ctTP.btnEdit) }}</button>

                        <select ng-if="ctrl.editModeTestType" ng-init="ctrl.testRecord.testType" ng-model="ctrl.testRecord.testType" ng-options="ml.$(testType) for testType in ctrl.constants.testType">
                                    </select>
                        <button ng-if="ctrl.editModeTestType" ng-click="ctrl.changeEditModeTestType()" class="btn btn-default btn-xs">{{ ml.$(ml.data.ctTP.btnOk) }}</button>

                    </div>
                    <div class="panel-body">
                        <span class="text-info">{{ ml.$(ml.data.ctTP.vaGrade) }}:</span>

                        <span ng-if="!ctrl.editModeCurVAGrade" class="label label-primary">{{ ml.$(ctrl.testRecord.curVAGrade.value) }}</span>
                        <button ng-if="!ctrl.editModeCurVAGrade && !ctrl.isTesting" ng-click="ctrl.changeEditModeCurVAGrade()" class="btn btn-default btn-xs">{{ ml.$(ml.data.ctTP.btnEdit)}}</button>

                        <select ng-if="ctrl.editModeCurVAGrade" ng-init="ctrl.testRecord.curVAGrade" ng-model="ctrl.testRecord.curVAGrade" ng-options="ml.$(vaGrade.text) for vaGrade in ctrl.constants.vaGrades">
                                    </select>
                        <button ng-if="ctrl.editModeCurVAGrade" ng-click="ctrl.changeEditModeCurVAGrade()" class="btn btn-default btn-xs">{{ ml.$(ml.data.ctTP.btnOk) }}</button>

                    </div>
                    <div class="panel-body">
                        <span class="text-info">{{ ml.$(ml.data.ctTP.distance) }}:</span>
                        <span class="label label-primary">{{ ctrl.disSlider.value/100 }} M</span>
                        <button ng-if="!ctrl.editModeDistance && !ctrl.isTesting" ng-click="ctrl.changeEditModeDistance()" type="button" class="btn btn-default btn-xs"
                            data-toggle="modal" data-target="#distanceModal">
                                    {{ ml.$(ml.data.ctTP.btnEdit) }}</button>
                        <button ng-if="ctrl.editModeDistance" ng-click="ctrl.changeEditModeDistance()" type="button" class="btn btn-default btn-xs"
                            data-toggle="modal" data-target="#distanceModal">
                                    {{ ml.$(ml.data.ctTP.btnOk) }}</button>

                    </div>
                    <div>
                        <rzslider style="width:250px" ng-if="ctrl.editModeDistance" rz-slider-model="ctrl.disSlider.value" rz-slider-options="ctrl.disSlider.options"></rzslider>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group" aria-label="...">
                        <button ng-if="ctrl.isTesting" ng-click="ctrl.abortTest()" class="btn btn-default" style="width:80px">{{ ml.$(ml.data.ctTP.btnReset) }}</button>
                        <button ng-if="!ctrl.isTesting || ctrl.isTestFinished" ng-click="ctrl.startTest()" class="btn btn-default" style="width:80px">{{ ml.$(ml.data.ctTP.btnStart) }}</button>
                        <button ng-if="ctrl.isTestFinished" data-toggle="modal" data-target="#vaReportDialog" class="btn btn-default">{{ ml.$(ml.data.ctTP.btnShowReport) }}</button>
                        </div>
                    </div>

                    <div class="panel-body">
                        <h4><label class="ng-class:'label label-'+ctrl.messageType">{{ ml.$(ctrl.message) }}</label></h4>
                    </div>

                    <div>
                        <div class="container-fluid">
                            <div><br/></div>
                            <div style="position: relative;float: left;margin-right:15px;">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td><a class="btn btn-default" ng-click="ctrl.userClicked('UP')">{{ ml.$(ml.data.ctTP.btnUp) }}</a>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><a class="btn btn-default" ng-click="ctrl.userClicked('LEFT')">{{ ml.$(ml.data.ctTP.btnLeft) }}</a>
                                        </td>
                                        <td></td>
                                        <td><a class="btn btn-default" ng-click="ctrl.userClicked('RIGHT')">{{ ml.$(ml.data.ctTP.btnRight) }}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a class="btn btn-default" ng-click="ctrl.userClicked('DOWN')">{{ ml.$(ml.data.ctTP.btnDown) }}</a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-body" style="width:60px; position: relative;float: left; text-align:center;">
                                <p><a class="btn btn-default" style="width:80px" ng-click="ctrl.userClicked('CORRECT')">{{ ml.$(ml.data.ctTP.btnClear) }}</a>
                                </p>
                                <p><a class="btn btn-default" style="width:80px" ng-click="ctrl.userClicked('WRONG')">{{ ml.$(ml.data.ctTP.btnNotClear) }}</a></p>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end of 视力检查 -->

        <div ng-show="nav.currentPageId === 'qa'" role="tabpanel" class="tab-pane active" id="qa">
            
            <div ng-repeat="qa in ml.data.qas" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ ml.$(qa.q) }}</h3>
              </div>
              <div class="panel-body">{{ ml.$(qa.a) }}
              </div>
            </div>
            <br/>
            
        </div>
        <!--end of  QA -->

        <div ng-show="nav.currentPageId === 'home'" role="tabpanel" class="tab-pane active" id="home">
            <div class="panel-body container">
                <div class="jumbotron">

                    <h1>{{ ml.$(ml.data.ctHomePage.title) }}</h1>
                    <p>{{ ml.$(ml.data.ctHomePage.p1) }}</p>
                    <p>{{ ml.$(ml.data.ctHomePage.p2) }}</p>
                    <div class="align-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary btn-lg" ng-click="nav.setCurrentPage('qa')" role="button">{{ ml.$(ml.data.ctHomePage.btn1 )}}</button>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="nav.setCurrentPage('calibration')" role="button">{{ ml.$(ml.data.ctHomePage.btn2 )}}</button>
                    </div>

                </div>
            </div>
        </div>
        <!--end of  简介 -->
    
        <div ng-show="nav.currentPageId === 'aboutAuthor'" role="tabpanel" class="tab-pane active" id="aboutAuthor">
            <div class="panel-body container">
                <div class="jumbotron">

                    <h2>{{ ml.$(ml.data.ctAuthor.name) }} <small>{{ ml.$(ml.data.ctAuthor.title) }}</small></h2>
                    <br>

                    <p><h4>{{ ml.$(ml.data.ctAuthor.university) }}</h4>  </p>
                    <p><h4>{{ ml.$(ml.data.ctAuthor.degree) }}</h4></p>
                    <p><h4>{{ ml.$(ml.data.ctAuthor.p1) }}</p></h4>
                    <br/>
                    <p><h4>Email:<a href="mailto:qqiangye@gmail.com">qqiangye@gmail.com</a></h4></p>
                    <p class="align-right"><a href="source.zip">{{ ml.$(ml.data.ctAuthor.srcDownload) }}</a></p>
                </div>
            </div>
        </div>
        <!--end of  AboutAuthor -->

        <!-- Model Final VA Report -->

        <div class="modal fade" id="vaReportDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ ml.$(ml.data.ctReport.title) }}</h4>
              </div>
              <div class="panel panel-body">
                  <dl class="dl-horizontal">
                      <dt><span class="text-info">{{ ml.$(ml.data.ctReport.datetime) }}</span></dt>
                      <dd><span class="text-info">{{ ml.$(ctrl.testRecord.testDate) }}</span></dd>
                      
                      <dt><span class="text-info">{{ ml.$(ml.data.ctTP.eye) }}</span></dt>
                      <dd><span class="text-info">{{ ml.$(ctrl.testRecord.eye) }}</span></dd>

                      <dt><span class="text-info">{{ ml.$(ml.data.ctTP.condition) }}</span></dt>
                      <dd><span class="text-info">{{ ml.$(ctrl.testRecord.testType) }}</span></dd>
                      
                      <dt><span class="text-info">{{ ml.$(ml.data.ctTP.distance) }}</span></dt>
                      <dd><span class="text-info">{{ ml.$(ctrl.testRecord.distance) }} M</span></dd>
                      
                      <dt><span class="text-info">{{ ml.$(ml.data.ctReport.yourVAGrade) }}</span></dt>
                      <dd><h1>
                          <label class="label label-info">{{ ml.$(ctrl.testRecord.finalVAGrade.text) }}</label>
                          </h1></dd>
                </dl>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ ml.$(ml.data.ctTP.btnOk) }}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of Model Final VA Report -->

    </div>
    <!-- end of container div -->
    
    <div ng-controller="FooterCtrl as foot">
        <h6 class="align-right">{{ ml.$(ml.data.lastUpdateDate) }}</h6>
    </div>
    
</body>

</html>